.container
  .row-fluid
    .col-xs-12
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading New Recipe
            .panel-body
              .panel-body
                =simple_form_for setup_recipe(@recipe) do |f|
                  .row
                    .col-sm-6.col.xs-12
                      .form-group 
                        .col-xs-4
                          =f.label :name
                        .col-xs-8
                          =f.input_field :name, :class => 'form-control'
                          .text-error
                            =f.error :name
                    .col-sm-6.col.xs-12
                      .form-group 
                        .col-xs-4
                          =f.label :difficulty
                        .col-xs-8
                          =f.select :difficulty, Recipe::DIFFICULTIES, :class => 'form-control'
                          .text-error
                            =f.error :difficulty
                  .row
                    .col-sm-6.col.xs-12 
                      .form-group 
                        .col-xs-4
                          =f.label :prep_time, "Prep Time (mins):"
                        .col-xs-8
                          =f.input_field :prep_time, :class => 'form-control'
                          .text-error
                            =f.error :prep_time
                    .col-sm-6.col.xs-12 
                      .form-group 
                        .col-xs-4
                          =f.label :cook_time, "Cook Time (mins):"
                        .col-xs-8
                          =f.input_field :cook_time, :class => 'form-control'
                          .text-error
                            =f.error :cook_time
                  .row
                    .col-sm-6.col.xs-12 
                      .form-group 
                        .col-xs-4
                          =f.label :cuisine_categories
                        .col-xs-8
                          =f.collection_select :cuisine_categories, CuisineCategory.all, :id, :name, {}, {:multiple => true, :class => 'form-control'}
                          .text-error
                            =f.error :cuisine_categories
                    .col-sm-6.col.xs-12 
                      .form-group 
                        .col-xs-4
                          =f.label :course_types
                        .col-xs-8
                          =f.collection_select :course_types, CourseType.all, :id, :name, {}, {:multiple => true, :class => 'form-control'}
                          .text-error
                            =f.error :course_types
                  .row 
                    %strong Ingredients
                  .row
                    .col-xs-12
                      .col-xs-3
                        %center Qnty.
                      .col-xs-3
                        %center Measurement
                      .col-xs-6
                        %center Ingredient
                  = f.simple_fields_for :ingredient_amounts do |ia|
                    .row 
                      .col-xs-12
                        .form-group
                          = ia.simple_fields_for :amount do |amt|
                            .col-xs-3
                              = amt.input_field :quantity, :class => 'form-control'
                            .col-xs-3
                              = amt.input_field :measurement, :class => 'form-control'
                          = ia.simple_fields_for :ingredient do |ing|
                            .col-xs-6
                              = ing.input_field :name, :class => 'form-control'
                  .row 
                    %strong Steps
                  -step_num = 1
                  = f.simple_fields_for :steps do |s|
                    .row
                      .col-xs-12
                        .form-group  
                          .col-xs-2
                            =s.label :step_text, "Step #{step_num}:"
                          .col-xs-10
                            =s.input_field :step_text, :class => 'form-control'
                    -step_num += 1
                  .row
                    %center
                      -if @new
                        =f.submit "Create Recipe"
                      -else
                        =f.submit "Save Recipe"


