.container
  .row-fluid
    .col-xs-12
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading.row
              .col-xs-6
                = @recipe.name
              .col-xs-6
                .pull-right
                  = button_to "Edit", edit_recipe_path(@recipe), :method => :get, :class => 'btn btn-default btn-xs'
            .panel-body
              .row
                .col-sm-6.col-xs-12
                  .row
                    .col-xs-5 
                      %strong Prep Time
                    .col-xs-7
                      = "#{@recipe.prep_time.to_i} minutes"
                .col-sm-6.col-xs-12
                  .row
                    .col-xs-5 
                      %strong Cook Time
                    .col-xs-7
                      = "#{@recipe.cook_time.to_i} minutes"
              %br
              .row
                .col-sm-6.col-xs-12
                  .row
                    .col-xs-5 
                      %strong Cuisine Type(s)
                    .col-xs-7
                      = @recipe.cuisine_categories.map { |cc| cc.name }.join(', ')
                .col-sm-6.col-xs-12
                  .row
                    .col-xs-5 
                      %strong Course
                    .col-xs-7
                      = @recipe.course_types.map { |ct| ct.name }.join(', ')
              %br
              -@recipe.steps.each do |step|
                .row
                  .col-xs-1 
                    %strong Step: 
                  .col-xs-11
                    = step.step_text
                %br 